@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
}
.home_wrap,
.home_sideBar,
.home_dashBoard {
  overflow-y: auto;
}
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0d1b2a;
}
.home_wrap {
  display: flex;
  flex: 1;
}

.home_sideBar {
  height: '100%';
  display: flex;
  flex-basis: 130px;
  padding: 5%;
  background-color: #415a77;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.home_dashBoard {
  height: '100%';
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #e0e1dd;
  padding: 20px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
